.product-image{
    height: 10rem;
    object-fit: contain;
}
.product-title{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.product-description{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}